/* ========= Google Font  */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* ========== Custom Fonts Link  */
@font-face {
  font-family: "Clash Display Variable";
  src: url("../fonts/ClashDisplayVariable.ttf") format("truetype");
}
/* .open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
    
*/

/* ========== Nambar Css Start Here  */
.navbar {
  background-color: #006920;
}
.navbar-brand h3 {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-weight: 800;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  text-transform: uppercase;
  padding-top: 11px;
  padding-left: 10px;
}
.navbar-toggler {
  border: none !important;
  box-shadow: none !important;
}

.navbar-toggler-icon {
  display: none;
}

.custom-toggler svg {
  transition: 0.25s ease;
  color: #fff !important;
}

.svg-icon.path-thick path {
  stroke-width: 3;
}

.svg-icon.path-thicker path {
  stroke-width: 4;
}
.custom-select-wrapper {
  position: relative;
  width: 50px;
}

.custom-select {
  position: relative;
  cursor: pointer;
}
.custom-select-trigger {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  border-radius: 6px;
  color: #ffffff;
}
.custom-select-trigger img {
  width: 20px;
}
.custom-options {
  position: absolute;
  top: 110%;
  right: 0;
  width: 125%;
  border-radius: 6px;
  display: none;
  flex-direction: column;
  z-index: 999;
  background: #0b141d;
  padding: 2px 10px;
  color: #fff;
}

.custom-option {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.custom-option img {
  width: 20px;
}

.navbar-brand {
  width: 60%;
}
.navbar-brand img {
  width: 100%;
}
/* ========== Nambar Css End Here  */

/* ========== Banner/Here Css Start Here  */
#banner_area {
  background-image: url(../img/banner.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}
.banner_content {
  position: absolute;
  bottom: 0;
  left: 20px;
  right: 20px;
}
.banner_content h5 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: capitalize;
  color: #1dae48;
}
.banner_content h1 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 54.93px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #ffffff;
}
.banner_content p {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: capitalize;
  color: #ffffff;
}
.banner_content a.login {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 22.5px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
  display: block;
  padding: 20px 18px;
  background-color: #1dae48;
  border-radius: 10px;
  text-decoration: none;
  transition: all 0.3s linear;
}
.banner_content a.register {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 22.5px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
  display: inline-block;
  padding: 20px 30px 15px 30px;
  background-color: #ffffff78;
  border-radius: 10px;
  text-decoration: none;
  transition: all 0.3s linear;
  justify-content: center;
}
.banner_content a.login:hover {
  background-color: #ffffff;
  color: #006920;
}
.banner_content a.register:hover {
  background-color: #ffffff;
  color: #006920;
}

/* ========== Banner/Here Css End Here  */

/* ========== Join Leagues Css Start Here  */
#join_leagues {
  background-color: #060605;
  padding: 30px 0 50px 0;
}
.leagues_card {
  background-image: url(../img/leagu_card.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  border-radius: 15px;
  z-index: 1;
  padding: 20px 25px 25px 20px;
  margin-right: 8px;
}
.green_overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  z-index: -1;
}
.leagues_card img.icons_star {
  width: 45px;
  margin-bottom: 15px;
}
.leagues_card h3 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 22.5px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: capitalize;
  color: #ffffff;
  margin-bottom: 15px;
}
.leagues_card p {
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 131%;
  letter-spacing: 0px;
  color: #ffffff;
  max-width: 60%;
}
.leagues_card a {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  text-transform: capitalize;
  padding: 12.5px 15px;
  background-color: #0505044f;
  color: #ffffff;
  text-decoration: none;
  border-radius: 10px;
}
.join_leagues_slider_main .slick-dots {
  padding-left: 0px;
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.join_leagues_slider_main .slick-dots li {
  width: 6px !important;
  height: 6px !important;
  background-color: #ffffff;
  margin: 15px 2px;
  border-radius: 2px;
}
.join_leagues_slider_main .slick-dots li button {
  border: none;
  color: transparent;
  background-color: transparent;
}
.join_leagues_slider_main .slick-dots li.slick-active {
  border: none;
  color: transparent;
  width: 53px !important;
  height: 6px !important;
  border-radius: 2px;
  background-color: #006920;
}
/* ========== Join Leagues Css End Here  */

/* ========== Upcoming Tournaments Css Start Here  */
#upcoming {
  background-color: #060605;
}
.upcoming_tour h3 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: #098b30;
  margin-bottom: 30px;
}
.tour_logo h4 {
  font-family: Roboto;
  font-weight: 600;
  font-size: 10px;
  line-height: 131%;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 6px;
}
.upcoming_tour h2 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 65px;
}
.upcoming_tour p {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 131%;
  letter-spacing: 0px;
  text-align: center;
  color: #fcfcfd99;
  max-width: 80%;
  margin: 0 auto;
  margin-bottom: 30px;
}
.benifit_leag_card {
  background-color: #26333c;
  padding: 5px 5px 10px 5px;
  border-radius: 15px;
  margin-bottom: 22px;
}
.benifit_leag_card img {
  width: 100%;
  border-radius: 15px;
}
.benifit_leag_card p {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 22.5px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: capitalize;
  color: #ffffff;
  margin-top: 15px;
  margin-bottom: 0px;
  padding-left: 7px;
  padding-right: 7px;
}
.benifit_list {
  background-image: url(../img/benifit_bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.benifit_card_main {
  background-color: #ffffff33;
  padding: 10px;
  border-radius: 15px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.benifit_list_items {
  padding: 10px;
  border-radius: 15px;
  background-color: #1c252b;
  margin-bottom: 10px;
  align-items: center;
}
.benifit_list_items img {
  width: 62px;
  height: 62px;
}
.benifit_list_items h4 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  text-transform: capitalize;
  color: #ffffff;
}
/* ========== Upcoming Tournaments Css End Here  */

/* ========== TennisDuello Section Css Start Here  */
#tennisduello {
  background-color: #050504;
}
.section_title {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 65px;
}
.section_bio {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 131%;
  letter-spacing: 0px;
  text-align: center;
  color: #fcfcfd99;
  max-width: 80%;
  margin: 0 auto;
  margin-bottom: 30px;
}
.tennis_item_counts_main {
  padding: 10px 10px 0px 10px;
  border-radius: 15px;
  background-color: #ffffff33;
}
.tennis_items_c {
  background-color: #1dae48;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 10px;
}
.tennis_items_c .img_frame {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  background-color: #26333ceb;
  align-items: center;
  display: flex;
  justify-content: center;
}
.tennis_items_c h2 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;
}
.tennis_items_c h4 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  text-transform: uppercase;
  color: #26333c;
  margin-bottom: 0px;
}
.letest_leagues {
  margin-top: 40px;
}
.letest_leagues h5 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: #098b30;
  margin-bottom: 30px;
}
.letest_card_item {
  padding: 5px 5px 10px 5px;
  border-radius: 15px;
  background-color: #26333c;
}
.letest_card_item h3 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 22.5px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: capitalize;
  color: #ffffff;
  margin-top: 15px;
  padding-left: 7px;
  padding-right: 7px;
}
.letest_card_item p {
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 131%;
  letter-spacing: 0px;
  color: #ffffff;
  padding-left: 7px;
  padding-right: 7px;
  margin-bottom: 12px;
}
.letest_card_item a {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: capitalize;
  color: #26333c;
  margin-left: 7px;
  margin-right: 7px;
  padding: 13.5px 0;
  background-color: #1dae48;
  border-radius: 15px;
  display: block;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s linear;
}
.letest_card_item a:hover {
  color: #1dae48;
  background-color: #ffffff;
}
.letest_img_border {
  position: relative;
}
.letest_img_border img {
  width: 100%;
  border-radius: 15px;
}
.status_leagues {
  position: absolute;
  right: 8px;
  top: 8px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: capitalize;
  color: #1dae48;
  padding: 9px 8px;
  background-color: #1dae484a;
  border-radius: 10px;
}
a.more_letest {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
  color: #fcfcfd;
  text-align: center;
  padding: 18px 16px;
  border: 1px solid #ffffff;
  border-radius: 15px;
  text-decoration: none;
}
.letest_leagues_card {
  margin-bottom: 30px;
}
/* ========== TennisDuello Section Css End Here  */

/* ========== Our player’s opinions Css Start Here  */
#our_player_opinions {
  background-color: #050504;
  background-image: url(../img/player_opinion_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 56px;
}
.player_opinion_items {
  padding: 10px;
  border-radius: 15px;
  background-color: #26333cd9;
  margin-top: 30px;
  margin-bottom: 20px;
}
.player_opinion_items img {
  width: 100%;
  border-radius: 10px;
}
.player_opinion_items p {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 131%;
  letter-spacing: 0px;
  color: #fcfcfd99;
  margin: 30px 7px;
}
.player_opinion_items h4 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 22.5px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: capitalize;
  color: #ffffff;
  padding: 0px 7px;
  margin-bottom: 0px;
}
.player_opinion_items span {
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 131%;
  letter-spacing: 0px;
  color: #1dae48;
  padding: 0px 7px;
}
.left_arrow {
  width: 34px;
  height: 34px;
  border-radius: 5px;
  background-color: #1dae48;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s linear;
  margin: 0 21px;
}
.left_arrow:hover {
  background-color: #ffffff;
}
.left_arrow img {
  width: 100%;
  padding: 10px;
}
.right_arrow {
  width: 34px;
  height: 34px;
  border-radius: 5px;
  background-color: #1dae48;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s linear;
  margin: 0 21px;
}
.right_arrow:hover {
  background-color: #ffffff;
}
.right_arrow img {
  width: 100%;
  padding: 10px;
}
/* ========== Our player’s opinions Css End Here  */

/* ========== Last Two Game Section Css Start Here  */
#last_two_game {
  background-color: #050504;
  padding-bottom: 50px;
}
.game-card {
  background: #212C34;
  border-radius: 15px;
  padding: 15px 10px 1px 10px;
  color: #fff;
}
.game-card .details-btn {
  background: #10b65c;
  border-radius: 15px;
  padding: 7px 41px 7px 9px;
  color: #26333C;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: capitalize;
  border: none;
}
.player-row {
  background: #FFFFFF40;
  border-radius: 15px;
  padding: 12px;
  margin-bottom: 10px;
}
.player-img {
  width: 41px;
  height: 41px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 10px;
}
.result-table th,
.result-table td {
  font-size: 14px;
  text-align: center;
  color: #d7d9db;
}
.result-table td {
  font-weight: 600;
  color: #fff;
}
.game-card h5 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 22.5px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: capitalize;
  color: #ffffff;
}
.game-card small {
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 131%;
  letter-spacing: 0px;
  color: #fcfcfd99;
}
.game_table_header span{
  font-family: Roboto;
font-weight: 400;
font-size: 12px;
line-height: 100%;
letter-spacing: 0%;
text-transform: capitalize;
color: #ffffff;
}
.player-row span.name{
font-family: "Bebas Neue", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
text-transform: capitalize;
color: #FFFFFF;
}
.player-row span{
font-family: "Bebas Neue", sans-serif;
font-weight: 400;
font-size: 20px;
line-height: 100%;
letter-spacing: 0%;
text-transform: capitalize;
color: #FFFFFF;
}
/* ========== Last Two Game Section Css End Here  */

/* ========== Footer Section Css Start Here  */
#footer_area{
  padding: 37px 0px 28px 0px;
  background-color: #006920;
}
.footer_menu ul{
  padding-left: 0px;
  list-style-type: none;
}
.footer_menu ul li a{
font-family: Roboto;
font-weight: 400;
font-size: 14.4px;
line-height: 130%;
letter-spacing: 0px;
text-align: right;
text-transform: capitalize;
text-decoration: none;
color: #ffffff;
}
.copyright p{
font-family: Roboto;
font-weight: 400;
font-size: 9.22px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
color: #ffffff;
margin-bottom: 0px;
}
.copyright p a{
font-family: Roboto;
font-weight: 400;
font-size: 9.22px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
color: #ffffff;
margin-bottom: 0px;
text-decoration: none;
}
/* ========== Footer Section Css End Here  */
/*  
========================================
=============== Profile Page Style Here 
========================================
  */
  body{
    background-color: #050505;
  }
.top_message{
  border: none;
  background-color: transparent;
  position: relative;
    cursor: pointer;
}
.message_count{
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;
  background-color: #ff7676;
  font-size: 7px;
  color: #006920;
  border-radius: 100px;
}
.top_message img{
  width: 30px;
  height: 30px;
}


/* Popup box */
.message_popup {
    position: absolute;
    top: 60px;
    right: 10px;
    width: 300px;
    background: #fff;
    border-radius: 16px;
    padding: 10px 0;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    display: none;
    z-index: 999;
}

.msg_item {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 15px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    text-decoration: none;
}

.msg_item:last-child {
    border-bottom: none;
}

.msg_item img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.msg_item h6 {
font-family: "Bebas Neue", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
text-align: start;
vertical-align: middle;
text-transform: capitalize;
color: #050504;
margin-left: 0;
margin-bottom: 0;
}

.msg_item p {
    margin: 0;
    font-size: 13px;
    color: #666;
}

.msg_item span {
    margin-left: auto;
    font-size: 12px;
    color: #777;
}

/* Online green dot */
.online_dot {
    width: 10px;
    height: 10px;
    background: #22c55e;
    border-radius: 50%;
    margin-left: auto;
}
.page_name h3{
font-family: "Bebas Neue", sans-serif;
font-weight: 700;
font-size: 34px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
text-transform: capitalize;
color: #FFFFFF;
}
.profile_page_title{
  margin-top: 52px;
  margin-bottom: 60px;
}
.profile_image{
  text-align: center;
}
.profile_image img{
width: 93px;
height: 93px;
object-fit: cover;
border: 3.47px solid #FFFFFF;
border-radius: 100px;
}
.profile_info h3{
font-family: "Bebas Neue", sans-serif;
font-weight: 500;
font-size: 24px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;
text-transform: capitalize;
color: #ffffff;
margin-top: 17px;
margin-bottom: 15px;
}
.profile_info h4{
font-family: "Open Sans", sans-serif;
font-weight: 500;
font-size: 20.83px;
line-height: 100%;
letter-spacing: 0%;
vertical-align: middle;
text-transform: capitalize;
color: #ffffff;
}
.profile_info h5{
font-family: "Open Sans", sans-serif;
font-weight: 500;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;
text-transform: capitalize;
color: #ffffff;
margin-top: 15px;
}
.profile_info h2{
font-family: "Open Sans", sans-serif;
font-weight: 700;
font-size: 20px;
line-height: 100%;
letter-spacing: 0%;
text-transform: capitalize;
color: #ffffff;
margin-top: 15px;
}
.star_rating img{
  width: 23px;
}
.profile_info p{
font-family: "Open Sans", sans-serif;
font-weight: 500;
font-size: 12px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
text-transform: capitalize;
color: #ffffff;
margin-top: 10px;
margin-bottom: 0px;
}
.profile_about_card{
  background-color: #FFFFFF14;
  border-radius: 11.05px;
  border: 0.55px solid #FFFFFF26;
  padding: 20px 15px;
  height: 280px;
  width: 50%;
  margin-bottom: 40px;
}
.profile_about_card h3{
font-family: "Bebas Neue", sans-serif;
font-weight: 500;
font-size: 17px;
line-height: 100%;
letter-spacing: 0%;
text-transform: capitalize;
color: #FFFFFF;
border-bottom: 0.55px solid #FFFFFF26;
margin-bottom: 9px;
padding-bottom: 9px;
}
.profile_about_card_list img{
  width: 16px;
  height: 16px;
}
.profile_about_card_list p{
font-family: "Open Sans", sans-serif;
font-weight: 500;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
text-transform: capitalize;
color: #FFFFFF;
margin-left: 6.5px;
}
.profile_about_card_list span{
font-family: "Open Sans", sans-serif;
font-weight: 400;
font-size: 12px;
line-height: 100%;
letter-spacing: 0%;
text-transform: capitalize;
color: #FFFFFF;
margin-left: 6.5px;
}
.profile_button_area button{
font-family: "Bebas Neue", sans-serif;
font-weight: 600;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
text-transform: capitalize;
color: #ffffff;
display: block;
width: 100%;
padding: 13.5px 0;
border: none;
border-radius: 10px;
margin-bottom: 15px;
}

.jx-dashboard-section {
    padding: 20px 0;
    background: #121212;
}

/* Card style */
.jx-card {
    background: #1D1D1D;
    padding: 12px;
    border-radius: 12px;
    box-shadow: 0 0 8px rgba(0,0,0,0.4);
}

.jx-chart-title {
    font-size: 14px;
    color: #fff;
    margin-bottom: 10px;
}

/* Perfect circle charts */
.jx-canvas-wrap {
    width: 100%;
    aspect-ratio: 1/1;
    position: relative;
}

.jx-canvas-wrap canvas {
    width: 100% !important;
    height: 100% !important;
}

/* Line + Area chart wraps */
.jx-canvas-wrap-line {
    width: 100%;
    height: 180px;
    position: relative;
}

.jx-canvas-wrap-line canvas {
    width: 100% !important;
    height: 100% !important;
}
.profile_touranements_list{
  padding: 20px;
  background-color: #26333C;
  border-radius: 10px;
  margin-bottom: 10px;
}
.profile_touranements_list img{
  width: 52px;
  height: 52px;
}
.profile_tournament_list_content h2{
font-family: "Open Sans", sans-serif;
font-weight: 600;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
vertical-align: middle;
text-transform: capitalize;
color: #ffffff;
margin-left: 15px;
}
.profile_tournament_list_content p{
font-family: "Bebas Neue", sans-serif;
font-weight: 500;
font-size: 12px;
line-height: 21px;
letter-spacing: 0%;
vertical-align: middle;
text-transform: capitalize;
color: #ffffff;
margin-left: 15px;
margin-bottom: 0px;
}

.profile_card{
  background-color: #FFFFFF0D;
  border: 1px solid #FFFFFF4D;
  border-radius: 15px;
  padding: 14px 20px;
}
.profile_card img{
  border: 3.47px solid #FFFFFF;
  border-radius: 100px;
  width: 92px;
  height: 92px;
  object-fit: cover;
}
.profile_card_content{
  margin-left: 15px;
}
.profile_card_content h3{
font-family: "Bebas Neue", sans-serif;
font-weight: 500;
font-size: 24px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;
text-transform: capitalize;
color: #FFFFFF;
}
.profile_card_content h2{
font-family: "Open Sans", sans-serif;
font-weight: 700;
font-size: 20px;
line-height: 100%;
letter-spacing: 0%;
text-transform: capitalize;
color: #FFFFFF;
}
.profile_card_content p{
font-family: "Open Sans", sans-serif;
font-weight: 500;
font-style: Medium;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
text-transform: capitalize;
margin-bottom: 5px;
color: #FFFFFF;
}
.profile_card_content img{
width: 22px;
height: 22px;
border: none;
border-radius: 0px;
}
.your_register_card{
  background-color: #FFFFFF0D;
  border: 1px solid #FFFFFF4D;
  border-radius: 15px;
  padding: 40px 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.your_register_card h3{
font-family: "Clash Display Variable", sans-serif;
font-weight: 500;
font-size: 26px;
line-height: 100%;
letter-spacing: 0%;
vertical-align: middle;
text-transform: capitalize;
color: #ffffff;
padding-bottom: 40px;
border-bottom: 1px solid #FFFFFF4D;
margin-bottom: 40px;
}
.your_register_card img{
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 17.07px;
  margin-bottom: 34px;
}
.your_register_card h2{
font-family: "Clash Display Variable", sans-serif;
font-weight: 500;
font-style: Medium;
font-size: 22px;
letter-spacing: 0%;
vertical-align: middle;
text-transform: capitalize;
color: #ffffff;
}
.your_register_card span{
font-family: "Open Sans", sans-serif;
font-weight: 400;
font-size: 14px;
line-height: 22px;
letter-spacing: 0%;
vertical-align: middle;
text-transform: capitalize;
color: #ffffff;
margin-bottom: 10px;
}
.your_register_card p{
font-family: "Open Sans", sans-serif;
font-weight: 400;
font-size: 14px;
line-height: 22px;
letter-spacing: 0%;
vertical-align: middle;
text-transform: capitalize;
color: #ffffff;
margin-bottom: 25px;
}
.your_register_card a{
font-family: "Clash Display Variable", sans-serif;
font-weight: 600;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;
text-transform: capitalize;
border: 1.14px solid #FFFFFF;
color: #ffffff;
padding: 13.5px 22px;
border-radius: 9.1px;
text-decoration: none;
}
.dual_invite_card{
  background-color: #FFFFFF0D;
  border: 1px solid #FFFFFF4D;
  border-radius: 15px;
  padding: 30px 20px;
}
.dual_invite_card h3{
font-family: "Clash Display Variable", sans-serif;
font-weight: 500;
font-size: 26px;
line-height: 100%;
letter-spacing: 0%;
vertical-align: middle;
text-transform: capitalize;
color: #ffffff;
}
.dual_invite_sub_card{
  padding: 30px 25px;
  border: 1px solid #FFFFFF4D;
  background-color: #FFFFFF0D;
  margin-top: 30px;
  border-radius: 15px;
}
.dual_invite_sub_card h4{
font-family: "Clash Display Variable", sans-serif;
font-weight: 500;
font-size: 22px;
letter-spacing: 0%;
vertical-align: middle;
text-transform: capitalize;
color: #ffffff;
}
.dual_invite_sub_card p{
font-family: "Open Sans", sans-serif;
font-weight: 400;
font-size: 14px;
line-height: 22px;
letter-spacing: 0%;
vertical-align: middle;
text-transform: capitalize;
color: #ffffff;
margin-bottom: 0px;
}
.dual_invite_sub_card a{
  border: 1.14px solid #FFFFFF;
  padding: 13px 22px;
font-family: "Clash Display Variable";
font-weight: 600;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;
text-transform: capitalize;
color: #ffffff;
text-decoration: none;
border-radius: 9.1px;
}
.welcome_last_two_game{
  border: 1px solid #FFFFFF59;
  border-radius: 20px;
  background: linear-gradient(
    45deg, 
    #FFFFFF1F, /* White with transparency */
    #1CD47E33  /* Green with transparency */
);
margin-top: 40px;
margin-left: 2px;
margin-right: 2px;
padding-bottom: 40px;
margin-bottom: 100px;
}
.welcome_last_two_game #last_two_game{
  background-color: transparent;
}
.tamamla_card{
  padding: 30px 20px;
  background-color: #0000000D;
  border: 1px solid #FFFFFF4D;
  border-radius: 15px;
  margin-top: 45px;
}
.tamamla_card h3{
font-family: "Clash Display Variable";
font-weight: 600;
font-size: 24px;
line-height: 100%;
letter-spacing: 0%;
vertical-align: middle;
text-transform: capitalize;
color: #FFFFFF;
}
.tamamla_card ul{
  padding-left: 14px;
  list-style-type: decimal;
}
.tamamla_card ul li{
font-family: "Clash Display Variable";
font-weight: 400;
font-size: 14px;
line-height: 48px;
letter-spacing: 0%;
vertical-align: middle;
text-transform: capitalize;
color: #ffffff;
}